<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration  xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.DailyRollingFileAppender" name="general">
        <param name="file" value="logs/general/general.log"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="t:%-6r [%.20t] %-5p %d{MMM-dd-yyyy HH:mm:ss,SSS} [%x]  %c{1.} - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.ConsoleAppender" name="general-console">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="t:%-6r [%.20t] %-5p %d{MMM-dd-yyyy HH:mm:ss,SSS} [%x]  %c{1.} - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="general-console"/>
        <appender-ref ref="general"/>
    </root>
</log4j:configuration>